<div class="newlist" style="background-color:white;width: 1200px;margin: 10px auto">
        {% for foo in newlist %}
            <div class="haha" style="height: 150px;width: 900px;vertical-align:middle;
            border: 1px solid black;border-radius: 10px;margin-bottom: 10px;margin: 10px auto">
                <img style="width:150px;height: 130px;display: inline-block;vertical-align:middle;"
                     src="{{ foo.img }}" alt="">
                <div class="info"
                     style="width: 640px;height: 140px;display: inline-block;vertical-align:middle;position: relative">
                    <p style="margin:10px 20px;height: 20px;line-height: 20px"><a jid="{{ foo.id }}" class="detail" style="color: #00a8ff" href="/detail/?id={{ foo.id }}">{{ foo.jingqu }}</a>
                    </p>
                    <p style="margin:10px 20px;height: 20px;line-height: 20px">{{ foo.sheng }}</p>
                    <p style="margin:10px 20px;height: 20px;line-height: 20px">{{ foo.city }}</p>
                    <div style="position: absolute;bottom: 10px">
                        <span style="margin-left: 25px;color: #e84118">想去：{{ foo.never }}人</span>
                        <span style="margin-left: 25px;color: #e84118">去过：{{ foo.ever }}人</span>
                        <span style="margin-left: 25px;color: #e84118">星级：{{ foo.level }}</span>
                        {% ifequal foo.is_like 1 %}
                            <span style="margin-left: 30px"><i id_="{{ foo.id }}"
                                                               class="shoucang layui-icon layui-icon-heart-fill"
                                                               style="color: red"></i></span>
                        {% else %}
                            <span style="margin-left: 30px"><i id_="{{ foo.id }}"
                                                               class="shoucang layui-icon layui-icon-heart-fill"
                                                               style="color: black"></i></span>
                        {% endifequal %}
                    </div>
                </div>
            </div>
        {% endfor %}


    </div>