{% extends "layout.html" %}
{% load staticfiles %}
{% block title %}
    旅游推荐系统
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/css/nav.css">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/xadmin.css' %}">
    <script src="{% static 'layui/layui.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/xadmin.js' %}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        a:hover {
            color: red;
        !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="layui-fluid" style="">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-sm12 layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">收藏前十景区</div>
                    <div class="layui-card-body" style="min-height: 300px;">
                        <div id="main1" class="layui-col-sm12" style="height: 300px;"></div>
                    </div>
                </div>
            </div>
            <div class="layui-col-sm12 layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">去过前十数/想去数景区</div>
                    <div class="layui-card-body" style="min-height: 300px;">
                        <div id="main2" class="layui-col-sm12" style="height: 300px;"></div>

                    </div>
                </div>
            </div>
            <div class="layui-col-sm12 layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">景区数前十城市</div>
                    <div class="layui-card-body" style="min-height: 280px;">
                        <div id="main3" class="layui-col-sm12" style="height: 300px;"></div>

                    </div>
                </div>
            </div>
            <div class="layui-col-sm12 layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">浏览前十</div>
                    <div class="layui-card-body" style="min-height: 280px;">
                        <div id="main4" class="layui-col-sm12" style="height: 300px;"></div>

                    </div>
                </div>
            </div>

            <div class="layui-col-sm12 layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">好评景点</div>
                    <div class="layui-card-body" style="min-height: 280px;">
                        <div id="main5" class="layui-col-sm12" style="height: 300px;"></div>

                    </div>
                </div>
            </div>

            <div class="layui-col-sm12 layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">热门景点</div>
                    <div class="layui-card-body" style="min-height: 280px;">
                        <div id="main6" class="layui-col-sm12" style="height: 300px;"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
    <script src="/static/js/echarts-wordcloud.min.js"></script>
    <script src="/static/js/current.js"></script>
    <script src="/static/layui/lay/modules/layer.js"></script>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main1'));

        // 指定图表的配置项和数据
        var option = {
            grid: {
                top: '5%',
                right: '1%',
                left: '1%',
                bottom: '10%',
                containLabel: true
            },
            tooltip: {
                trigger: 'axis'
            },
            xAxis: {
                type: 'category',
                data: {{ main1_x |safe }},
                axisLabel: {
                    interval: 0,
                    formatter: function (value) {
                        return value.split("").join("\n");
                    }
                },
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                name: '收藏数',
                data: {{ main1_y |safe }},
                type: 'line',
                smooth: true
            }]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main2'));

        // 指定图表的配置项和数据
        var option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross',
                    label: {
                        backgroundColor: '#6a7985'
                    }
                }
            },
            grid: {
                top: '5%',
                right: '2%',
                left: '1%',
                bottom: '10%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: {{ main2_x |safe }},
                    axisLabel: {
                        interval: 0,
                        formatter: function (value) {
                            return value.split("").join("\n");
                        }
                    },
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '去过',
                    type: 'line',
                    areaStyle: {normal: {}},
                    data: {{ main2_y1 |safe }},
                    smooth: true
                },
                {
                    name: '想去',
                    type: 'line',
                    areaStyle: {normal: {}},
                    data: {{ main2_y2 |safe }},
                    smooth: true,

                }
            ]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);


        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main3'));

        // 指定图表的配置项和数据
        var option = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: {{ main3_x|safe }}
            },
            series: [
                {
                    name: '景区数量',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    data: {{ main3_y|safe }},
                    /*[
                    {value: 335, name: '直接访问'},
                    {value: 310, name: '邮件营销'},
                    {value: 234, name: '联盟广告'},
                    {value: 135, name: '视频广告'},
                    {value: 1548, name: '搜索引擎'}
                ],*/
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main4'));
        // 指定图表的配置项和数据
        var option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'category',
                    data: {{ main4_x |safe }},
                    axisTick: {
                        alignWithLabel: true
                    }
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [
                {
                    name: '浏览数',
                    type: 'bar',
                    barWidth: '60%',
                    data: {{ main4_y |safe }},
                }
            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);



        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main5'));
        // 指定图表的配置项和数据
        var option = {
            tooltip: {
                show: true
            },
            series: [{
                name: '热门城市',
                type: 'wordCloud',
                sizeRange: [10, 50],//文字范围
                //文本旋转范围，文本将通过rotationStep45在[-90,90]范围内随机旋转
                rotationRange: [0, 0],
                rotationStep: 45,
                textRotation: [0, 45, 90, -45],
                //形状
                shape: 'circle',
                textStyle: {
                    normal: {
                        color: function() {//文字颜色的随机色
                            return 'rgb(' + [
                                Math.round(Math.random() * 250),
                                Math.round(Math.random() * 250),
                                Math.round(Math.random() * 250)
                            ].join(',') + ')';
                        }
                    },
                    //悬停上去的字体的阴影设置
                    emphasis: {
                        shadowBlur: 10,
                        shadowColor: '#333'
                    }
                },
                data: {{ main5 | safe }}
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);


        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main6'));
        // 指定图表的配置项和数据
        var option = {
            tooltip: {
                show: true
            },
            series: [{
                name: '热门景点',
                type: 'wordCloud',
                sizeRange: [10, 50],//文字范围
                //文本旋转范围，文本将通过rotationStep45在[-90,90]范围内随机旋转
                rotationRange: [0, 0],
                rotationStep: 45,
                textRotation: [0, 45, 90, -45],
                //形状
                shape: 'star',
                textStyle: {
                    normal: {
                        color: function() {//文字颜色的随机色
                            return 'rgb(' + [
                                Math.round(Math.random() * 250),
                                Math.round(Math.random() * 250),
                                Math.round(Math.random() * 250)
                            ].join(',') + ')';
                        }
                    },
                    //悬停上去的字体的阴影设置
                    emphasis: {
                        shadowBlur: 10,
                        shadowColor: '#333'
                    }
                },
                data: {{ main6 | safe }}
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>


    <script>
        $('.shoucang').click(function () {
            var id = $(this).attr('id_')
            var ths = $(this)
            $.ajax({
                url: '/star_ajax/',
                dataType: 'json',
                method: 'post',
                data: {
                    'id': id
                },
                success: function (data) {
                    if (data.color == 'red') {
                        $(ths).css('color', data.color)
                        layer.msg('收藏成功', {icon: 5, time: 2000});
                    } else {
                        $(ths).css('color', data.color)
                        layer.msg('取消收藏', {icon: 5, time: 2000});
                    }

                }
            });
        })
    </script>
{% endblock %}